*{margin:0px auto;}

#masukan {
   width: 500px;
   padding:8px;
   font-size:16px;
   border-color: #CCCCCC;
   border-width: 2px;
}
#search {
    width:30px;
  }
#gambar {
    width:800px;
    align:center;
  }
  #edit {
    width:100px;
    color:black;
    font-family: arial;
    padding:10px;
    font-size:13px;
    font-weight: bold;
    cursor:pointer;
    margin-bottom:5px;
    }
    #cetak {
      width:100px;
      color:black;
      font-family: arial;
      padding:10px;
      font-size:13px;
      font-weight: bold;
      cursor:pointer;
      margin-bottom:5px;
      }
  }
